.iti{
    display: block;
}
.invalid-feedback{
    text-align: left;
}
.swal2-confirm{
    background-color: #1656A0 !important;
}
.pop-up-close-button{
    border-radius: 50px !important;
    font-size: 14px !important;
    padding: 12px 30px !important;
    font-weight: 600 !important;
}
.table-design .already-applied{
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
}

/* login otp css*/
.otp-input-wrapper {
    width: 240px;
    text-align: left;
    display: inline-block;
}
.otp-input-wrapper input {
    border:none !important;
    padding: 0 !important;
    width: 248px !important;
    font-size: 33px !important;
    font-weight: 600 !important;
    color: #3e3e3e !important;
    background-color: transparent !important;
    border: 0 !important;
    margin-left: 7px !important;
    letter-spacing: 23px !important;
    font-family: sans-serif !important;
}
.otp-input-wrapper input:focus {
    box-shadow: none;
    outline: none;
}
.otp-input-wrapper svg {
    position: relative;
    display: block;
    width: 240px;
    height: 2px;
}
/* login otp css end */


.toast.toast-success{
    background-color: #1656A0 !important;
}
#toast-container>div{
    opacity: 1 !important;
}
.theme-button-color,.theme-button-color:hover, .theme-button-color:focus {
    padding: 10px 20px;
    color: white !important;
    background-color: #1656A0;
    border: 1px solid #1656A0;
    cursor: pointer;
}
.btn-reject,.btn-reject:hover, .btn-reject:focus {
    padding: 10px 20px;
    color: white !important;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    cursor: pointer;
}

.margin-top-20{
    margin-top: 20px;   
}
.leads-tab .nav-tabs .nav-link.active{
    background: #1656A0 !important;
    color: whitesmoke  !important;
}
.leads-tab .nav-tabs .nav-link{
    color:  #1656A0  !important;
    font-weight: 600  !important;
}
.leads-tab .nav-tabs .nav-link:not(:focus) {
    border: none  !important;
}
.leads-tab table td:not(:last-child)  a{
    color:  #1656A0  !important;
}
.header-profile-img-size{
    width:46px !important; 
    height: 46px !important; 
}


/* error message css start*/
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #8a6d3b;
}
.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
    color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}
.is-invalid .help-block,
.is-invalid .control-label,
.is-invalid .radio,
.is-invalid .checkbox,
.is-invalid .radio-inline,
.is-invalid .checkbox-inline,
.is-invalid.radio label,
.is-invalid.checkbox label,
.is-invalid.radio-inline label,
.is-invalid.checkbox-inline label {
    color: #a94442;
}
.is-invalid .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.is-invalid .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.is-invalid .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.is-invalid .form-control-feedback {
    color: #a94442;
}
.invalid-feedback label ~ .form-control-feedback {
    top: 25px;
}
.invalid-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}
.has-feedback label ~ .form-control-feedback {
    top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}
.invalid-feedback {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
/* error message css end*/
.theme-primary-color{
    color: #1656A0;
}
.theme-primary-border{
    border: 1px solid #1656A0;
}
.max-height-ads-home{
    max-height: 200px;
    height: 200px;
}

/*SELECT 2 *******START*/
.select2-container--krajee-bs4 .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-lg.select2-container--krajee-bs4 .select2-selection--single, .input-group-lg .select2-container--krajee-bs4 .select2-selection--single{
    height: 50px;
    padding: .375rem 2rem;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: none;
    color: #495057;
}

.select2-selection.select2-selection--single{
    height: 50px !important;
    padding-top: 14px !important; 
    padding-left: 18px !important;
}
ul.select2-selection__rendered{
    max-height: 50px !important;
    overflow: auto !important;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__clear{
    right: 1.5rem;
}
/*SELECT 2 *******START*/


.password-toggle-icon {
    float: right !important;
    margin-left: -25px !important;
    margin-top: -35px !important;
    position: relative !important;
    z-index: 2 !important;
    font-size:20px !important;
    padding-right: 37px !important;
}

.pop-menu-icon{
    color: #1656A0 ;
    font-size: 15px;
}

.signin-form.overflow-form{
    padding: 120px 30px 20px;
    overflow: auto;
}
/*GRIDVIEW PAGINATION****START*/
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.pagination li  a,.pagination li  span{
    padding: 0rem 0.9rem;
    border :1px solid #1656A0;
    color:#1656A0 !important;
}

.pagination li.active  a{
    color:white !important;
}
.pagination li.active {
    color:white !important;
    background-color:#1656A0;
}
/*****GRIDVIEW PAGINATION***END*/

.popular-location{
    color: inherit;
}