.iti{
    display: block;
}
.invalid-feedback{
    text-align: left;
}
.swal2-confirm{
    background-color: #1656A0 !important;
}
.pop-up-close-button{
    border-radius: 50px;
    font-size: 14px;
    padding: 12px 30px;
    font-weight: 600;
}
.table-design .already-applied{
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
}

/* login otp css*/
.otp-input-wrapper {
    width: 240px;
    text-align: left;
    display: inline-block;
}
.otp-input-wrapper input {
    border:none !important;
    padding: 0 !important;
    width: 248px !important;
    font-size: 33px !important;
    font-weight: 600 !important;
    color: #3e3e3e !important;
    background-color: transparent !important;
    border: 0 !important;
    margin-left: 7px !important;
    letter-spacing: 23px !important;
    font-family: sans-serif !important;
}
.otp-input-wrapper input:focus {
    box-shadow: none;
    outline: none;
}
.otp-input-wrapper svg {
    position: relative;
    display: block;
    width: 240px;
    height: 2px;
}
/* login otp css end */

.toast.toast-success{
    background-color: #1656A0 !important;
}
#toast-container>div{
    opacity: 1 !important;
}
.theme-button-color,.theme-button-color:hover, .theme-button-color:focus {
    padding: 10px 20px;
    color: white !important;
    background-color: #1656A0;
    border: 1px solid #1656A0;
    cursor: pointer;
}
.btn-reject,.btn-reject:hover, .btn-reject:focus {
    padding: 10px 20px;
    color: white !important;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    cursor: pointer;
}

.margin-top-20{
    margin-top: 20px;   
}
.leads-tab .nav-tabs .nav-link.active{
    background: #1656A0 !important;
    color: whitesmoke  !important;
}
.leads-tab .nav-tabs .nav-link{
    color:  #1656A0  !important;
    font-weight: 600  !important;
}
.leads-tab .nav-tabs .nav-link:not(:focus) {
    border: none  !important;
}
.leads-tab table td:not(:last-child)  a{
    color:  #1656A0  !important;
}
.header-profile-img-size{
    width:46px !important; 
    height: 46px !important; 
}