/*
Theme Name: Consult Child Theme
Description: This is a custom child theme for Consult
Author: My Name
Template: consult/consult
Text Domain: consult-child
Version: 0.1.2
*/

@import url("../consult/consult/style.css");

ul.list-style-1{
    list-style-type: circle !important;
    padding-left: 15px;
    margin-bottom: 15px;
}
ul.list-stlye-1 li{
    margin: 0;
}
.vc_column_container.col-md-6{width: 50% !important;}
.vc_column_container.col-md-4 {
    width: 33.33% !important;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px  !important;
}
.form-control{
    background-color: #eef1f5;
    height: 45px;
    border: 0;
    box-shadow: none;
    padding-left: 20px;
}
.contact-box{text-align:center;padding:15px !important;}
.contact-box .vc_column-inner{padding: 30px;
    border-width: 1px;
    border-color: #193775;
    border-style: dashed;
    /* background: #f2f4f7; */
    box-shadow: 1px 1px 1px 1px #f2f4f7;  }
 .widget-footer h3{margin-bottom: 20px;}   
.links  ul {list-style: none; padding: 0;}
.links li {padding-left: 1.3em;margin-bottom: 10px;}
.links li a{color:#8e8989 !important;}
.links li:before {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
.widget-footer .textwidget {color:#8e8989;}
.site-footer .upper-footer {
    background-color: #152029;
    padding: 70px;
}
.navbar-brand{padding:0px 15px}
.site-header-style2 .navbar-brand, .site-header-style3 .navbar-brand{margin-top:0px;}
.site-header .upper-topbar, .site-header-style2 .upper-topbar, .site-header-style3 .upper-topbar {
    background-color: #0077B7;
}
.section-title h2 {

    color: #0077B7;
}
.site-header .upper-topbar, .site-header-style2 .upper-topbar, .site-header-style3 .upper-topbar {
    padding: 10px 0 !important;
}
.section-padding {
    padding: 25px 0 20px !important;
}
.page-title{
	max-height: 260px !important;
}
.page-title .title-box {   
    top: 33% !important;
}
.section-title h2 {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold;
}